*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(210, 237, 180);
}
main{
    width: 80%;
    
    margin-top: 5%;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 60px;
}
hr{
    width: 10%;
    border: solid 2px blue;
    border-radius: 3px;
}
button{
    width: fit-content;
    color: white;
    padding: 3px 5px 3px 5px;
    background-color: blue;
    border: solid 1.5px blue;
    border-radius: 3px;
}
button:hover{
    background-color: rgb(210, 237, 180);
    color: blue;
    cursor: pointer;
}



.main-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    
}
 .container{
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    

}
img{
    width: 100%;
    height: auto;
    border: solid 2px blue;
    border-radius: 6px;
}
.info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    
}
.title_price{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(136, 136, 186);
}
.price{
    color: brown;
}

